/* transcript css */
.live_transcript_box {
  text-align: left;
  margin-left: 3%;
  background-color:inherit;
  overflow: hidden;
  color: #0D5498;
  font-family: 'Montserrat', sans-serif;
}
.live_transcript_header {
  color: #0D5498;
  font: 30pt bold 'Montserrat', sans-serif;
  background-color: white;
  text-align: center;
  border-radius: 12px;
}
.transcript {
    padding: 10px;
}

/* stats css */
.chart {
    margin-right: 2%;
}


/* navbar css */
.navbar {
  background-color: inherit;
  border-radius: 20px 20px 0px 0px;
  min-height: 10%;
  padding: 0px;
  margin-left: 32%;
  margin-right: 32%;
}
.button {
  background-color: inherit;
  height: 60px;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border: none;
  text-align: center;
  outline: none;
}
.button:focus{
outline: none;
box-shadow: none;
}
.button:hover{
background-color: #DFE1E7;
}
.button:active{
background-color: #c4c2c2;
}


/* GENERAL CSS */
body {
  height: 100%;
  max-width: 100%;
  background:linear-gradient(#668BC4,transparent);
}

/* entry page and title css */
.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  margin-left:auto;
  margin-right:auto;
}
.centert {
  margin: auto;
  font: 90px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.glitch {
    position: relative;
    color: white;
    mix-blend-mode: lighten;
}
.glitch:before, .glitch:after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: black;
    clip: rect(0, 0, 0, 0);
}
.glitch:before {
    left: -5px;
    text-shadow: 6px 0 rgba(231, 87, 87, 0.7);
}
.glitch:after {
    left: 5px;
    text-shadow: -6px 0 rgba(111, 111, 240, 0.7);
}
.glitch:hover:before {
    text-shadow: 4px 0rgba(231, 87, 87, 0.7);
    animation: glitch-loop-1 0.8s infinite ease-in-out reverse;
}
.glitch:hover:after {
    text-shadow: -5px 0 rgba(111, 111, 240, 0.7);
    animation: glitch-loop-2 0.8s infinite ease-in-out reverse;
}
@-webkit-keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(30px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(91px, 9999px, 98px, 0);
    }
}
@keyframes glitch-loop-1 {
    0% {
        clip: rect(36px, 9999px, 9px, 0);
    }
    25% {
        clip: rect(25px, 9999px, 99px, 0);
    }
    50% {
        clip: rect(50px, 9999px, 102px, 0);
    }
    75% {
        clip: rect(30px, 9999px, 92px, 0);
    }
    100% {
        clip: rect(91px, 9999px, 98px, 0);
    }
}
@-webkit-keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0px;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}
@keyframes glitch-loop-2 {
    0% {
        top: -1px;
        left: 1px;
        clip: rect(65px, 9999px, 119px, 0);
    }
    25% {
        top: -6px;
        left: 4px;
        clip: rect(79px, 9999px, 19px, 0);
    }
    50% {
        top: -3px;
        left: 2px;
        clip: rect(68px, 9999px, 11px, 0);
    }
    75% {
        top: 0px;
        left: -4px;
        clip: rect(95px, 9999px, 53px, 0);
    }
    100% {
        top: -1px;
        left: -1px;
        clip: rect(31px, 9999px, 149px, 0);
    }
}
#enterbutton {
  background-color: inherit;
  /* border: none; */
  color: white;
  border-radius: 15px;
  font: 30px 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding: 10px;
  margin-right: 30%;
  outline: none;
  box-shadow: none;
}
#enterbutton:hover {
    background-color: white;
}
