body {
    background-color: var(--swatch-foundation);
    font-family: 'Lexend Exa';
}

.live_transcript_box {
    width: 300px;
    border: 10px solid;
    margin: 20px;
}

.live_transcript_header {
    text-align: center;
}

.transcript {
    padding: 50px;
}

.navbar {
    background-color: #B7B7CB;
    border-radius: 20px 20px 0px 0px;
    min-height: 100px;
    padding: 0px;
}

#startButton, #stopButton, #newButton, #resetButton, #muteButton {
    background-color: #E0E4D6;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border-color: #FFFFFF;
    border: none;
    text-align: center;
    outline: none;
}